[2016-01-06 16:42] sethmcleod opened #1 "Mixed Content Error"
On Chrome (v47.0.2526.106) I get a Mixed Content error preventing the Calendar from being loaded.

![image](https://cloud.githubusercontent.com/assets/7340187/12148047/3e59efd6-b46a-11e5-8ebd-5f109c9a4e90.png)

This can be fixed by clicking the 'Load Unsafe Scripts' ![image](https://cloud.githubusercontent.com/assets/7340187/12148074/6b7bd7fe-b46a-11e5-879f-941ad1fdbe6b.png) button in the url bar.

[2016-01-06 16:48] IonicaBizau commented on #1
Thanks for the report, @sethmcleod!

Probably using a proxy which supports HTTPs. When we find a good proxy (maybe YML?) we can use that as default. :thought_balloon:

Until then you can just use the `proxy` option:

[code]

I used YML [here](https://github.com/IonicaBizau/jQuery-cross-domain-requests), but it looks like it cannot fetch the GitHub profile pages. Not sure why (or am I wrong? I reme

[2016-01-06 16:51] sethmcleod commented on #1
Very cool! Thanks for the quick reply

[2016-01-06 16:53] IonicaBizau commented on #1
@sethmcleod Wait! It does support HTTPs: [`https://urlreq.appspot.com/req?method=GET&url=https%3a//github.com/ionicabizau`](https://urlreq.appspot.com/req?method=GET&url=https%3a//github.com/ionicabizau). :tada:

[2016-01-06 16:56] #1 closed, assigned to nobody

[2016-01-06 16:57] sethmcleod commented on #1
Perfect, thanks for fixing this! :+1:

[2016-01-06 16:57] IonicaBizau commented on #1
@sethmcleod It works! :lock: :key: :ship: **`1.0.1`** :+1: :tada:

[2016-04-29 19:01] palmerev opened #5 "Grid doesn't load on the first page load, or on update"
I am loading the calendar using the example code in the README:

[code]

When I first load the page, the basic contribution data loads into the calendar, but the grid doesn't load. I waited about 10 minutes, but the spinner just keeps spinning. If I refresh the page, then it loads immediately. If I visit the page again for the same user, then it always loads immediately.

The first page visit:

![

[2016-05-02 04:25] IonicaBizau commented on #5
Hmm, right.

It should be fixed [here](https://github.com/IonicaBizau/github-calendar/blob/9375782b0035c7a459304b8e8937d4ed3addb979/lib/index.js#L38)–if the response doesn't contain svg stuff (or svg contribution squares), then run that request again. :crystal_ball:

[2016-05-02 22:52] palmerev commented on #5
To me, this looks the same as before.

[code]

The `.left.text-muted` element always shows up, regardless of whether the spinner or the svg grid loads,
so I don't think this fixes it. The version [on my fork](https://github.com/palmerev/github-calendar/blob/feature/check-svg-grid-loading/lib/index.js) recursively repeats the fetch until the svg loads.
I'd like to submit a pull request if that's ok

[2016-05-03 03:56] IonicaBizau commented on #5
@palmerev Interesting. The code looks good. But like you said, a timeout would be good.

Also, [this check](https://github.com/palmerev/github-calendar/blob/885692c7e0fde4bd2d013395fce98eaaabad8dcc/lib/index.js#L43-L46) should be moved [here](https://github.com/palmerev/github-calendar/blob/885692c7e0fde4bd2d013395fce98eaaabad8dcc/lib/index.js#L39), meaning, do _not_ change the HTML unless we got

[2016-05-03 18:35] palmerev commented on #5
[This](https://github.com/palmerev/github-calendar/blob/feature/check-svg-grid-loading/lib/index.js) has the timeout and moves the check to before the HTML update.

Also, side question: How do you highlight lines in files like you're doing in your comment? I see line numbers added to the URL, but is there another way?

[2016-05-04 00:44] ReyRod opened #6 "Gitlab support"
Could you make a gitlab version?

[2016-05-05 14:20] IonicaBizau commented on #5
@palmerev Nice work! ✨

You have to click the line number. If you want to select multiple lines, hold shift and click another line to select a range. 🚀

[2016-05-05 17:31] palmerev opened #7 "Undocumented dev dependencies"
I tried running `npm run release`, but `uglify-js` was throwing a syntax error. I realized that I also needed `babel-preset-es2015` for it to work. Then adding the preset in the release command works:
`browserify lib/index.js -o dist/github-calendar.min.js -s GitHubCalendar && babel --presets es2015 dist/github-calendar.min.js | uglifyjs -c -m -o dist/github-calendar.min.js`

Or, adding babel conf

[2016-05-05 18:11] IonicaBizau commented on #7
@palmerev We should use [`dist-it`](https://github.com/IonicaBizau/dist-it) instead. 😁  Thanks for bringing this in attention!

[2016-05-05 18:12] IonicaBizau commented on #6
I'm not familiar with Gitlab. Do they expose similar contributions stats? 💭

[2016-05-05 18:20] ReyRod commented on #6
Yes, you should check it out, it offers private repositories for free and
have many features and integrations available
El may 5, 2016 2:12 PM, "Ionică Bizău" notifications@github.com escribió:

I'm not familiar with Gitlab. Do they expose similar contributions stats? 💭

—
You are receiving this because you authored the thread.
Reply to this email directly or view it on GitHub
https://github.com/I

[2016-05-06 08:49] #5 closed, assigned to nobody

[2016-05-06 08:49] #7 closed, assigned to nobody

[2016-05-06 08:55] IonicaBizau commented on #6
This project is really related to GitHub.com. Maybe it could be another project doing that, but this module should only load the GitHub calendar.

If you build/find a project like that, we can link it in the README.md file. :memo:

[2016-05-06 08:55] #6 closed, assigned to nobody

[2016-05-31 18:33] k3nsuk3 opened #12 "Empty space exists"
GitHub update interface of the contributions calendar on May 20, 2016. As part of this update, code streaks are no longer featured on the contributions calendar.
[https://github.com/blog/2173-more-contributions-on-your-profile](https://github.com/blog/2173-more-contributions-on-your-profile)

But some codes related to code streaks are still existing in this project. Due to this, empty space is sho

[2016-05-31 18:51] IonicaBizau commented on #12
Obviously yes. I'm not sure which would be the best here: should we compute the longest streak, total contributions and current streak like before? It's actually possible and not that hard.

The simple way is just to update the `min-height` value.

[2016-05-31 18:52] IonicaBizau commented on #12
What do you think? Maybe having an option to enable/disable the global stats (total, longest and current streaks) would not be bad. 💭

[2016-05-31 19:32] k3nsuk3 commented on #12
I think that having an option to enable/disable the global stats is best to resolve this issue.

But I'm sorry I don't know how to compute global stats.😢

[2016-05-31 21:53] IonicaBizau commented on #12
I have a module to parse the HTML: https://github.com/IonicaBizau/github-calendar-parser
From [`git-stats`](https://github.com/ionicabizau/git-stats) I'm going to split another module which will compute the stats: because it's the same code.

🚀

[2016-06-01 07:03] IonicaBizau commented on #12
@trileg Actually, that module parses the total, longest and current streak, already ✨

[2016-06-03 12:24] IonicaBizau commented on #12
🚢 **`1.1.x`** 🎉 Fixed via #14.

[2016-06-03 12:24] #12 closed, assigned to IonicaBizau

[2016-08-18 06:43] netcan opened #22 "Looks like it's in conflict with requirejs."
Looks like it's in conflict with requirejs

[2016-08-18 06:45] IonicaBizau commented on #22
@netcan I guess `requirejs` should work in the same way: using the `module.exports`. Can you add more details?

[2016-08-18 06:48] netcan commented on #22
thank you for your reply.
My Chrome console print this when I have imported your js:

[code]

and

[code]

[2016-08-18 06:56] IonicaBizau commented on #22
@netcan Hmm, maybe it's just not compatible with `requirejs`. From what I see, there is a conversion tool:

[code]

Then include `gh-calendar.js` in your code.

http://requirejs.org/docs/commonjs.html

[2016-08-21 06:30] #22 closed, assigned to nobody

[2016-08-26 20:06] miroslavvidovic opened #23 "TypeError: f.querySelector(...) is null"
The GitHub calendar is not loading and I have the following error:

`TypeError: f.querySelector(...) is null`

in the github-calendar.min.js file. When I  unminify the file it shows the error is on line 56.
I think the problem is with the querySelector() function not matching any CSS selector for the class .left.text-muted:

`if (f.querySelector(".left.text-muted").innerHTML = c.summary_text, f.qu

[2016-08-27 17:30] IonicaBizau commented on #23
Whoups! Indeed an issue!

Can you take a look at it? I'm more focused on other projects these days, but I'm happy to accept contributions.

In this case, it's probably just a matter of query selectors.

[2016-08-28 07:57] #23 closed, assigned to nobody

[2016-08-28 13:53] shellscape opened #26 "Request: Unminified dist file for debugging"
I'd like to request an unminified version of the script in the `dist` directory for use with the rawgit cdn.

[2016-08-28 13:58] shellscape opened #27 "dist-it not in devDependencies"
Kind of key to have this listed in deps since it's the sole component responsible for releasing. I'd also highly recommend leveraging `david` to keep your deps up to date.

[2016-08-28 14:08] shellscape opened #28 "Responsive Graph / Layout"
Title says it all. This isn't very compatible with a responsible layout at the moment.

[2016-08-28 15:23] IonicaBizau commented on #28
Any ideas how it should look like on smaller screens? Just making the whole thing smaller?

[2016-08-28 15:25] IonicaBizau commented on #27
This is/[should be](https://github.com/IonicaBizau/dotfiles/issues/35) happening automagically when I publish new versions.

`david` looks neat! 👍

[2016-08-28 15:26] IonicaBizau commented on #26
Just use `browserify lib/index.js -s GitHubCalendar -o dist/gh-cal.js`.

That's what dist-it does + babelify + minify. 😁

[2016-08-28 15:26] #26 closed, assigned to nobody

[2016-08-28 15:27] shellscape commented on #27
Why did you close this issue? Your response didn't address it. `dist-it` is a requirement in order to build the script locally. If you're not using it as a direct devDep, then it should be listed in the documentation as a global requirement in order to build.

[2016-08-28 15:29] shellscape commented on #26
Why not add that as an additional script in package.json? (trying to help push this towards a more user-friendly project)

[2016-08-28 15:33] IonicaBizau commented on #26
@shellscape It should be a `dist-it` option, probably. 😄

[2016-08-28 15:35] IonicaBizau commented on #27
/cc https://github.com/IonicaBizau/dotfiles/issues/36

[2016-08-28 15:47] shellscape commented on #26
sooo you don't want to make this more user-friendly? ok, I guess.

[2016-08-30 03:18] IonicaBizau commented on #26
This is dist-it related and it's about the same problem across repositories, so, let's handle it in `dist-it`.

/cc https://github.com/IonicaBizau/dist-it/issues/9

[2016-08-31 11:58] xdev00 opened #29 "The given example is not loading"
The provided link is not loading. Please help. Thank you.

[2016-08-31 12:22] IonicaBizau commented on #29
Hmm, can you just refresh the page? Maybe it's slow due to my active graph. 😁

[2016-09-01 01:51] xdev00 commented on #29
I've already did. I tried it in sample project too, same thing happens.

[2016-09-01 02:04] IonicaBizau commented on #29
Can you take a look in the console and check for errors? What browser are you using?

Sent from my iPhone

[2016-09-01 02:08] xdev00 commented on #29
I use chrome. It says GithubCalendar not defined. And the cdn is 404.

[2016-09-01 02:32] IonicaBizau commented on #29
Are you sure you're looking at this page? If the cdn link is broken, then that's why.

But there's no cdn link here: http://ionicabizau.github.io/github-calendar/example/

[2016-09-01 02:39] xdev00 commented on #29
Oh I see. Heres the link I've used. http://codepen.io/anon/pen/aZmjvZ?editors=1000. Thats what on the documentation. Anyways thanks for the prompt response. It helps me a lot.

[2016-09-01 02:42] IonicaBizau commented on #29
@kevin1193 Whoups! Can you fix that for me?

[2016-09-01 02:51] xdev00 commented on #29
Yeah sure. I will. Thank you.

[2016-09-01 03:17] xdev00 commented on #29
I cant save using the same link in codepen. It works fine now in this link
http://codepen.io/kevin123456/pen/JRjPpE?editors=1000

Thanks a lot for your help.

[2016-09-15 18:47] miroslavvidovic opened #30 "Query selector for calendar needs to be changed"
GitHub had again some style changes and the github-calendar widget won't load:

Div containing the calendar graph has changed from
`div id="contributions-calendar"`
to
`div class="js-contribution-graph"`

[2016-09-15 18:48] IonicaBizau commented on #30
Oh, thanks for the note. Contributions are welcome!

Sent from my iPhone

[2016-09-18 06:50] IonicaBizau commented on #30
Fixed via #31 :tada: Thanks!

[2016-09-18 06:50] #30 closed, assigned to nobody

[2016-10-29 12:14] tiborsimon commented on #29
In Safari there is still a missing dependency. I've added fetch() through a cdn.
http://codepen.io/tiborsimon/pen/mrZeVB

Works in Safari, Chrome and in Firefox.

[2016-10-30 10:57] IonicaBizau commented on #29
@tiborsimon Maybe it would make sense to bundle the polyfill too.

[2016-12-13 09:48] govorov opened #38 "Erratum in README"
Hi.
First comment in the source code example is
``
and then script tag. Container itself is placed few lines lower, with the same comment.
And this is definely an erratum :)

[2016-12-13 09:50] IonicaBizau commented on #38
Correct! :+1:

That should be something like *Include github-calendar.js`. :grin:

Contributions welcome!

[2016-12-13 10:17] #38 closed, assigned to nobody

[2016-12-16 14:06] TMorville opened #40 "Example of using Object options"
Hi Ionica. I asked you on stackoverflow about adding your github-calendar to Jekyll. I am writing up a guide now. Before I do so, can you perhaps give a few examples of how to use the "options object" in the GitHubCalendar (main.js) function? I think that a lot of people using Jekyll are using a theme, and e.g. the theme I am using squeezes the information in the calendar slightly. So it would be

[2016-12-16 14:08] IonicaBizau commented on #40
The `options` argument is optional. In case you want to change the defaults here's how:

[code]

[2016-12-27 12:03] TMorville opened #41 "How to add a minimal version of the calendar using Jekyll"
1) Make a .html file with the following content (I have it as my index) and save as index.html

[code]

2) Under a subfolder (e.g. assets) make a new folder (dist) and add github-calendar.css, github-calendar.min.js, main.js and style.css from @IonicaBizau repository. Change the links in your index.html file accordingly. E.g.  `<script src="assets/dist/main.js"></script>. `

This (and a bit of twe

[2016-12-27 12:05] IonicaBizau commented on #41
Nice! :+1: We can create a Wiki probably and include things like this there. For now I'll leave this opened until I'll create a Wiki page.

[2017-01-10 14:25] marcodearaujo commented on #29
Didn't work for me too, I believe could be SSL problem in https://urlreq.appspot.com/ because it works when I change to http

[2017-01-10 16:50] IonicaBizau commented on #29
@marcoaraujojunior Hmm... `urlreq` should work with `https`. Can you add information about platform, operating system, browser etc?

Maybe  also check the developer tools errors?

[2017-01-10 17:02] marcodearaujo commented on #29
System: Linux server21.hostinger.com.br 3.2.55-grsec #1 SMP Thu Mar 27 12:58:18 EDT 2014 x86_64
Browser: Chrome version 55.0.2883.75 (64-bit)
![error](https://cloud.githubusercontent.com/assets/4330991/21816033/c0a37530-d745-11e6-9f44-dfa0fad2b886.png)

[2017-01-10 17:04] IonicaBizau commented on #29
Hmm, so timeout... Interesting.

[2017-09-28 13:08] ecmadao opened #46 "Can not work for chrome now(unsafe https certificate)"
This url, `https://urlreq.appspot.com/req?method=GET&url=`, was marked as unsafe by chrome cause it https certificate, so this extension can not work anymore on chrome browser (but still worked well on safari).

[2017-09-28 13:12] ecmadao commented on #46
Sorry, it seems I should make a new issue for https://github.com/izuzak/urlreq

Anyway, many thanks for your extension! It worked well on my [website](https://hacknical.com?locale=en)

[2017-09-29 09:34] ecmadao commented on #46
https://github.com/izuzak/urlreq/issues/5

[2017-09-29 09:34] #46 closed, assigned to nobody

[2017-09-29 09:36] IonicaBizau commented on #46
It works for me. Chrome, latest version, macOS.

[2017-10-10 17:17] Priyansh2 commented on #40
@IonicaBizau it is good if you add this too in your repo's documentation about using options . It will help others a lot ..they don't have to come to the issue page to solve their problems .

[2017-10-10 17:40] IonicaBizau commented on #40
I agree! We should edit [those lines](https://github.com/IonicaBizau/github-calendar/blob/06dcb6fbaf814c92d5c8560e8863bf3c83fab08b/package.json#L63-L65). Contributions are welcome!

[2017-12-20 05:22] Demfier opened #48 "Provide customizable colors"
It would be really nice if we can also provide color customization where we can generate graphs of different shades.

[2017-12-20 05:53] IonicaBizau commented on #48
Contributions are welcome! 🍀

[2017-12-20 05:54] #28 closed, assigned to nobody

[2018-01-13 03:35] a-j-bailey opened #50 "The current streak number doesn't seem to work."

[2018-01-26 07:42] IonicaBizau commented on #50
Can you show me an example? It seems to work in the demo.

[2018-01-26 07:44] IonicaBizau commented on #29
Is this still a problem?

[2018-02-12 07:07] phi-line commented on #48
Any tips on where to start looking for colors?
I tried editing the hex codes found on this line `t.exports = ["#eee", "#d6e685", "#8cc665", "#44a340", "#1e6823"]` with no avail.

[2018-02-14 09:27] #50 closed, assigned to nobody

[2018-02-14 09:27] IonicaBizau commented on #50
Closing due to no reply.

[2018-02-14 09:38] IonicaBizau commented on #48
It's possible by overriding them directly in the CSS:

[code]
![image](https://user-images.githubusercontent.com/2864371/36196838-a3531f1a-117a-11e8-87b5-dbd31f1afe5b.png)

[2018-02-15 00:12] phi-line commented on #48
Thank you @IonicaBizau

[2018-02-15 08:37] calumk opened #51 "responsive"
I don't think the responsive layout is actually implemented?

[2018-03-14 08:58] IonicaBizau commented on #51
Have you tried passing `responsive: true` in the options?

[2018-03-15 04:20] jazrobinson opened #52 "Individual Repository Stats"
I just wanted to start by saying your script is awesome and thank you for sharing your work with the world.  I wanted to use your script for showing details of repositories instead of based on a person.  Is it possible to use your script so I can display the stats on just one of my public repositories instead of all of my activity on all repositories?  I hope that makes sense.

Ideally you would p

[2018-03-27 17:27] IonicaBizau commented on #52
A similar chart can be used and data provided by the GitHub api: https://developer.github.com/v3/repos/statistics/#get-the-last-year-of-commit-activity-data

However, currently this is not supported in the GitHub Calendar project which only requests the information in HTML-ish format directly form GitHub (using a proxy).

The chart type is called calendar heatmap (e.g. https://github.com/DKirwan/c

[2018-03-27 17:28] IonicaBizau commented on #52
Related:

 - http://ionicabizau.github.io/github-profile-languages/?user=jazrobinson
 - http://ionicabizau.github.io/github-profile-languages/?user=jazrobinson%252Fhello-world

[2018-03-28 16:17] jmccormac01 opened #53 "Stats displayed offset to left"
Hi,
I've been using your nice calendar for a while but I noticed recently that the stats at the bottom are displayed off set to the left. See image attached. You can see my webpage here: jamesjmccormac.com. Do you have any ideas why this happens? I get the same in Safari and Firefox.

Cheers,
James

![screenshot 2018-03-28 17 15 44](https://user-images.githubusercontent.com/1912007/38042295-e80aa2

[2018-03-28 18:28] IonicaBizau commented on #53
A very unscientific assumption is that flex box doesn’t seem to work properly... but I can’t debug it right now.

Sent from my iPhone

[2018-03-28 20:55] jmccormac01 commented on #53
No worries, I've looked at flex before, I'll see if I can figure it out. Bootstrap columns would work well too I think.

[2018-05-19 07:39] a-y-u-s-h commented on #51
I tried, it's not working.

[2018-05-19 19:34] IonicaBizau commented on #51
Can you create a jsfiddle or online demo?

[2018-06-13 15:18] vvzen opened #54 "CORS is preventing the request"
The script was running fine until today.

```Failed to load resource: Origin http://mywebsite.com is not allowed by Access-Control-Allow-Origin.```

Tested under Safari and Firefox.

![github-loader-error](https://user-images.githubusercontent.com/10340139/41360746-c5d3248e-6f2d-11e8-98c8-0dd14a9f372a.png)

[2018-06-13 15:23] IonicaBizau commented on #54
@izuzak Can you please take a look at this?

@vvzen In the meantime, you can setup a different proxy, following the docs. Urlreq is just the default one.

[2018-06-13 15:32] izuzak commented on #54
@IonicaBizau Happy to take a look when I find a moment. Can you please open an issue with clear steps to reproduce? 🙏

[2018-06-13 15:35] IonicaBizau commented on #54
Well, actually it's because _Over Quota_ 🙈

And because that response doesn't have the CORS headers, the error appears in the browser.
To reproduce, open: https://urlreq.appspot.com/req?method=GET&url=https://github.com/IonicaBizau

[2018-06-13 15:37] izuzak commented on #54
Problem solved, then 😄 You can spin up your own instance of that server (the code is open source) and buy additional quota for yourself.

[2018-06-13 16:04] IonicaBizau commented on #54
Indeed :sweat_smile:

[2018-06-17 17:55] xtenzQ commented on #48
Hello!
Is it possible to change the color of the chart legend?

[2018-06-23 07:08] Rembrandtsx opened #55 "Adding tooltip hover event"
I would like to see a fully responsive tooltip for each day just like it does github where it shows you the amount of commits per day.

[2018-07-31 00:37] AllanOcelot commented on #48
@xtenzQ  - you'd have to override with CSS, targeting the Li vis nth-child selector and perhaphs maybe even having to use '!important'.

@IonicaBizau  - it would be great if the key could use the same classes as your above example

[2018-08-23 02:31] kjin1 opened #57 "Cannot read property 'querySelector' of null"
<img width="846" alt="2018-08-23 11 23 20" src="https://user-images.githubusercontent.com/3953011/44501161-022ce700-a6c7-11e8-8af7-37e6078044b2.png">

github-calendar.js worked well until yesterday, but I have some issue with github-calendar.js today. console said “TypeError: Cannot read property ‘querySelector’ of null”. I tested it with chrome and safari.

[2018-08-23 08:10] wit03 commented on #57
I recommend you to format the code layout for github-calendar.min.js. I found problem at line 53 and 82 but I have no idea to fix it.

[2018-08-23 20:35] Rembrandtsx commented on #57
i've got the same problem with the plugin i think is somthing about the server or something like that.

[2018-08-24 04:31] IonicaBizau commented on #57
Should be fine now! 👍 Fixed via #58

[2018-08-24 04:31] #57 closed, assigned to nobody

[2018-08-24 07:38] wit03 opened #61 "Responsive Function isn't working"
I've tried
`GitHubCalendar(".calendar", "wit03", {
    responsive: true
});`
it still doesn't work

[2018-08-24 16:18] iphysresearch commented on #61
I think you need use the new `github-calendar.min.js`.

You can check the source code of https://ionicabizau.github.io/github-calendar/example/   ....

[2018-08-24 19:07] ghost opened #62 "how to integrate this with vue?"
hi,
I'm trying to integrate this with my Vue project. but it doesn't work.

main.js
`
import GitHubCalendar from "github-calendar"
import "github-calendar/dist/github-calendar-responsive.css"
Vue.use(GitHubCalendar(".calendar", "SaadKhanMalik"))
`

my console spits out
`
index.js?02ed:99 TypeError: Cannot set property 'innerHTML' of null
   at eval (index.js?02ed:96)
(anonymous) @ index.js?02ed:99

[2018-08-25 11:06] vvzen opened #63 "c.querySelector issue"
The snippet won't show.
Line error:  github-calendar.min.js:1:1667

`TypeError: null is not an object (evaluating 'c.querySelector')`

Tested in Safari and Firefox

[2018-08-28 12:42] saiqulhaq commented on #63
this issue already fixed by https://github.com/IonicaBizau/github-calendar/pull/58

but the package maintaner haven't rebuild it yet

you may use my forked version, but the source is not minified
https://github.com/saiqulhaq/github-calendar

[code]

[2018-10-15 20:12] IonicaBizau commented on #62
I haven't worked with vue... but I'm cc'ing @egoist and @ghitab here. Maybe they have some ideas.

[2018-10-16 04:00] egoist commented on #62
Why did you even try to call `Vue.use(GitHubCalendar(".calendar", "SaadKhanMalik"))` 😂 It's not a Vue plugin.

To use it in a Vue component, you can call `GitHubCalendar(element, username)` in the component's `mounted` hook.

[2018-10-20 16:02] pilinux opened #67 "Wrong link with activity overview enabled"
Hi, if you enable 'activity overview' from contribution settings, github-calendar shows wrong repository links, but not GitHub links. Thank you.

[2018-12-10 02:57] eternal-flame-AD opened #68 "User contribution chart not hidden in responsive version of CSS"
https://github.com/IonicaBizau/github-calendar/blob/aaf8c9c4dcc24287538908f9b2579a51bf85194f/dist/github-calendar.css#L125-L127

I think this three lines should also be added to `github-calendar-responsive.css` because otherwise the contribution chart would display badly using the responsive stylesheet.

[2018-12-10 03:38] eternal-flame-AD opened #69 "Hide the main chart on small screens"
I found that the main chart would overflow on small screens so maybe we should hide it on small screens. It takes at least a standard middle screen to fit the whole svg.
![image](https://user-images.githubusercontent.com/35571479/49709458-74720900-fc6f-11e8-8ea6-56e8e39b5165.png)

An example of the changes I intended:
https://gitlab.com/eternal-flame-AD/eternalflame-cn/blob/cdfc652764b37658d52d427

[2019-01-08 08:50] jma26 commented on #51
Yep, it's not working for me too. There are multiple opened issues in regarding responsive layout implementation

[2019-01-15 19:14] sanjeevsiva17 opened #71 "problem with responsive,"
When I try responsive : true, it doesn't work. The graph also does not load

[2019-01-17 23:56] JS-goose commented on #68
I agree with this.  I want to use the responsive CSS but it's only responsive to a certain point and then the chart spills over.

[2019-01-21 16:14] #27 closed, assigned to nobody

[2019-01-21 16:25] IonicaBizau commented on #71
Duplicate of #51

[2019-01-21 16:26] IonicaBizau commented on #69
Duplicate of #51

[2019-01-21 16:53] #52 closed, assigned to nobody

[2019-01-21 16:55] IonicaBizau commented on #61
Duplicate of #51

[2019-01-21 16:56] #53 closed, assigned to nobody

[2019-01-21 16:56] #48 closed, assigned to nobody

[2019-01-21 16:57] #62 closed, assigned to nobody

[2019-01-21 17:04] #51 closed, assigned to IonicaBizau

[2019-01-21 17:04] #71 closed, assigned to IonicaBizau

[2019-01-21 17:06] #61 closed, assigned to IonicaBizau

[2019-01-21 17:06] #69 closed, assigned to IonicaBizau

[2019-01-21 17:06] IonicaBizau commented on #68
Fixed in the latest release.

[2019-01-21 17:06] #68 closed, assigned to nobody

[2019-01-21 17:06] IonicaBizau commented on #67
This should be fixed now.

[2019-01-21 17:06] #67 closed, assigned to nobody

[2019-01-21 17:06] #63 closed, assigned to IonicaBizau

[2019-01-21 17:07] IonicaBizau commented on #54
Going to close this for now. The solution is to use a custom proxy if you don't want to depend on the default proxy.

[2019-01-21 17:07] #54 closed, assigned to nobody

[2019-01-21 17:07] IonicaBizau commented on #41
Feel free to create a PR with that.

[2019-01-21 17:07] #41 closed, assigned to nobody

[2019-01-21 17:08] #40 closed, assigned to nobody

[2019-01-21 17:08] #29 closed, assigned to nobody

[2019-01-21 17:08] IonicaBizau commented on #55
Contributions are welcome in this direction.

[2019-01-21 17:08] #55 closed, assigned to nobody

[2019-04-07 08:32] parksb opened #74 "TypeScript support"
I think this project will be more awesome if it supports TypeScript. Actually, I wrote a type declaration file already, but I faced a little problem.

1. A `new` keyword can't use for function, so `GitHubCalendar` function must be called like `GithubCalendar(...)` not `new GitHubCalendar(...)`.
1. If the function is declared as a class, the constructor can't return value, so `GitHubCalendar(...)`

[2019-05-22 23:58] GohEeEn opened #75 "How to edit the styling definition in elements ?"
Hi, I am building a GitHub page for myself with embedding this calendar into my source code, and I am customizing the styling definitions for the calendar elements.

The image bellow shows what it actually looks like in browser developing tool,
![image](https://user-images.githubusercontent.com/34720382/58215867-d2614d00-7cf3-11e9-9437-35bf0a1d9b46.png)

while this is the source code given to embe

[2019-07-01 18:12] jguthrie100 opened #77 "URL's are relative and need to be absolute?"
Not sure if its just my setup, but all the urls are relative, so the links to repos actually go to (in my case) _http://localhost:4567/jguthrie100/xyz_ instead of _www.github.com/jguthrie100/xyz_

[2019-07-02 14:23] anibal-aguila commented on #6
Hi @IonicaBizau I don't found any nice alternative for GitLab, do you know how I can use github-calendar with GitLab contribution calendar?

Thanks in advance,

[2019-08-14 04:22] ghjansen opened #78 "Bad looking border"
The border of the calendar diverges from the border of the global stats, as the prior is looking thicker and not very nice.

![Screen Shot 2019-08-14 at 01 10 54](https://user-images.githubusercontent.com/1459428/62994197-0babe380-be31-11e9-83de-95927c4438d5.png)

From my tests, by removing the class `border` from the inner div that contains the classes `border border-gray-dark py-2 graph-before-a

[2019-08-16 00:00] ghjansen commented on #78
Nevermind.
This issue was related to a third-party CSS and I fixed it by overriding some attributes.
I'm closing this issue.

[2019-08-16 00:00] #78 closed, assigned to nobody

[2019-08-19 13:40] ghjansen commented on #54
This issue is happening again.

@IonicaBizau any directions on how to do that?
There are free alternative proxies that can be used?
This issue is a big downside when using your project.

[2019-08-22 22:36] kaangokdemir opened #79 "Appspot quota"
It looks like this script growth very fast. Couldn't bare with 1GB AppSpot quote per day. It works most of hours in a day still.

[2019-08-22 22:38] nunoskew commented on #54
Hi IonicaBizau, great tool!

However I'm getting the same problem and apparently the project's page too: https://ionicabizau.github.io/github-calendar/example/

Is there any fix?

Thanks!

[2019-08-22 23:09] nunoskew commented on #79
Hi IonicaBizau, great tool!

However I'm getting the same problem and apparently the project's page too: https://ionicabizau.github.io/github-calendar/example/

Is there any (free) fix?

Thanks!

[2019-08-23 01:39] ghjansen commented on #54
To whom it might concern, @Cipher-Coder did a great step-by-step on how to get [izuzak/urlreq](https://github.com/izuzak/urlreq) running through Google Cloud. See it in full at izuzak/urlreq#6.

Despite the moderate complexity of this workaround, it seems that a better solution is still much needed. Thoughts?

[2019-08-23 15:21] ghjansen commented on #79
@kaangokdemir @nunoskew

I suggest you to take a look at #54 and izuzak/urlreq#6
I hope it helps.

[2019-08-26 09:05] IonicaBizau commented on #54
I remember I saw a pretty nice proxy service, but I don't remember its name and since I really enjoyed using @izuzak's tool, I just decided to use it.

The library accepts the `proxy` option:

[code]

The url returned by the `proxy` function can be any endpoint from your server side of your app (e.g. a php file or Express endpoint etc).

[2019-10-07 17:10] talismanbrandi opened #81 "The longest and current streak prints "days" even for 1 day"
this can be fixed with a function or something similar:

[code]
followed by

`${mydays(parsed.longest_streak)` and `${mydays(parsed.current_streak)` instead of "days" inside the <span>.

[2019-10-13 11:58] #81 closed, assigned to nobody

[2019-10-13 11:59] IonicaBizau commented on #77
I can't reproduce this....

[2019-10-13 11:59] #77 closed, assigned to nobody

[2019-11-01 13:10] rodrigograca31 opened #84 "Link to the example page"
Hi!

I was just in class and an issue came up about this lib but we couldnt find this example page anywhere: http://ionicabizau.github.io/github-calendar/example/

So, Im proposing that it should be linked in the README.md so that we can quickly reach it.

After `Installation` and before `Documentation` ?
I can send a PR right away.

Purposed change:

## Example:
[You can find an example here](htt

[2019-11-03 21:32] maifeeulasad opened #85 "github-calendar in react.js"
I'm trying to implement this module in my react.js application.

[Here](https://codesandbox.io/s/wizardly-dew-cr7j3?fontsize=14) is my code.

It gives me error, can you help me resolving it?

[2019-11-22 21:42] rudikershaw opened #86 "Running the script changes the tab .ico to the github logo"
The summary more or less says it all. I am using a code snippet I saw you provide against a Stackoverflow answer which I will show below;

[code]

After the script finishes running on the page, the page tab ico is swapped out for the github logo. I'm going to look into this, but I am not holding up hope of finding a solution myself.

Browser: Firefox 70.0.1 (64-bit) for Ubuntu canonical - 1.0
OS:

[2019-12-01 19:01] snowztail opened #87 ""Contributions in the last year" with inaccurate start date"
It shows Dec 1, 2018 – Dec 1, 2019 instead of Dec 2, 2018 – Dec 1, 2019.

[2019-12-01 19:07] snowztail commented on #87
[#88 ](https://github.com/IonicaBizau/github-calendar/pull/88) gives a possible fix.

[2019-12-02 11:05] IonicaBizau commented on #85
Please ask the questions on Stack Overflow.

[2019-12-02 11:05] #85 closed, assigned to nobody

[2019-12-02 11:06] IonicaBizau commented on #84
That would be great! 😄

[2019-12-04 12:31] rodrigograca31 commented on #84
there you go, with an image and all :smile:

[2019-12-05 17:17] caleblallen opened #91 "Rectangle Colors"
Hi All,

I'd like to add an option field for changing the rectangle colors.

`GitHubCalendar(domObject, uName,
     { summary_text: 'blah',
       global_stats: true,
       responsive: true,
       base_color: '#FF5733' });`

Base color would correspond to the current #239a3b slot (2nd to last). It would overwrite the last three values, leaving the base gray (#ebedf0) in place. Other colors would

[2019-12-17 22:18] #84 closed, assigned to nobody

[2019-12-17 22:19] IonicaBizau commented on #91
This is already possible via CSS, like explained [here](https://github.com/IonicaBizau/github-calendar/issues/48).

Perhaps we should update the docs regarding this.

[2019-12-17 22:21] IonicaBizau commented on #87
Thanks, @SnowzTail :cake:

🚀 1.3.4.

[2019-12-17 22:21] #87 closed, assigned to nobody

[2019-12-17 22:22] IonicaBizau commented on #86
Probably this got fixed after the last optimizations... Can you double check that?

[2019-12-18 16:32] rudikershaw commented on #86
Appears to be working as intended now. Thank you.

[2019-12-18 16:32] #86 closed, assigned to nobody

[2019-12-26 02:28] lopezdp commented on #85
@maifeeulasad did you ever figure that out?

[2019-12-26 02:39] maifeeulasad commented on #85
yes @lopezdp

[2019-12-26 04:12] lopezdp commented on #85
its cool I just figured it out, thanks for the response. On to the next task! :)

[2019-12-28 11:53] OziOcb commented on #62
First, install the package:
[code]

Then, in .vue file: (I created a separate component for this)
[code]

Do not forget to import the calendar's styles

[2019-12-31 04:36] caleblallen commented on #91
Hi @IonicaBizau, sorry, yes it had been in documentation I think I might not have bothered you with it :)

[2019-12-31 04:36] #91 closed, assigned to nobody

[2020-01-16 17:19] 1sdc0d3r opened #94 "Not Working"
It doesn't load in the script. It keeps the "Loading the data just for you.". This is on the codePen as well. It doesn't render properly.

[2020-01-16 17:20] IonicaBizau commented on #94
Can you please check out the errors in the console?

[2020-01-16 17:20] IonicaBizau commented on #79
Duplicate of #54.

[2020-01-16 17:20] #79 closed, assigned to nobody

[2020-01-16 17:22] IonicaBizau commented on #75
Just use regular JavaScript to manipulate the code after the rendering step.

[2020-01-16 17:22] #75 closed, assigned to nobody

[2020-01-16 18:12] 1sdc0d3r commented on #94
So sorry, I didn't expect a response back as quickly as you did. Here is a screenshot of the error. This is with it implemented in my application.

<img width="1004" alt="Screen Shot 2020-01-16 at 11 10 04 AM" src="https://user-images.githubusercontent.com/54449993/72550943-13910900-3851-11ea-849a-5e93e240adf3.png">

[2020-01-16 18:13] IonicaBizau commented on #94
That's probably because the HTML element is missing.

[2020-01-16 18:16] 1sdc0d3r commented on #94
I see, I was trying to run the script before I had implemented the container. That was a simple problem I simply overlooked. Thank you very much. Great job on this library as well! Thank you.

[2020-01-16 18:17] #94 closed, assigned to nobody

[2020-01-16 19:35] luiscachog opened #95 "Feature request - Dynamic dates"
Hi!

Is there a way to configure the initial date, finished date, instead of just 1 year?

Thank you

[2020-01-16 19:37] IonicaBizau commented on #95
Currently not, but you probably can remove squares, by using JavaScript.

The problem is that the data is coming straight from the GitHub's end and that is one whole year.

[2020-01-16 19:40] luiscachog commented on #95
Thank you!

[2020-01-16 19:40] #95 closed, assigned to nobody

[2020-02-07 02:32] Asduveneck opened #96 "Customizing Theme Colors"
Is it possible to color the colors for each contribution square? I tried modifying `t.exports` (line 164) but that didn't work. I also updated where we grab the  [original code](https://github.com/Asduveneck/personal_site/blob/change_colors/assets/js/github_calendar_code.js) to return a new `fill` value (line 175...), but that didn't work.

[2020-02-13 06:08] hayorov opened #97 "The example (codepan) doesn't work - Loading the data just for you all the time"
## Problem: Widget doesn't work as described, it always shows "Loading the data just for you."  and nothing happens.

## Steps to reproduce:

- Follow the example link from README.md file https://codepen.io/anon/pen/aZmjvZ?editors=1000
- Open the browser windows
- The result on the screen:
![image](https://user-images.githubusercontent.com/991591/74405563-59e58200-4e68-11ea-89b9-7e1727303f74.png)

[2020-02-24 04:54] shaheemMPM commented on #97
change the src of script to https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.min.js

[2020-02-25 07:59] hayorov commented on #97
@shaheemMPM ⬆️ Fix section, sometimes reading is worth it. 😏

[2020-03-05 17:19] jmccormac01 opened #98 "Summary columns don't fill space equally in the horizontal direction."
I've included the calendar on my basic website jamesjmccormac.com but the summary columns at the bottom of the calendar are shifted to the left. It would be nice if they were centered and took up 1/3rd each. I tried looking at the JS but it appears obfuscated. Any ideas?

![Screenshot 2020-03-05 17 16 27](https://user-images.githubusercontent.com/1912007/76006947-2cd73d00-5f05-11ea-8996-bdee16ce2f

[2020-03-24 23:26] IonicaBizau commented on #97
We have to get rid of the `rawgit.com` links.

[2020-03-24 23:27] IonicaBizau commented on #96
Duplicate of #91

[2020-03-24 23:27] #96 closed, assigned to nobody

[2020-03-24 23:30] IonicaBizau commented on #98
Well, because the square container has a fixed width. You can fix it with CSS, but I think it's easier to keep everything fixed width.

[2020-03-24 23:30] #98 closed, assigned to nobody

[2020-03-25 06:09] hayorov commented on #97
Thank you @IonicaBizau

[2020-03-25 06:09] #97 closed, assigned to nobody

[2020-04-05 02:18] Funkh0user commented on #54
I am having the problem described in this thread,. I'm using the githubcontrutions package in my react app portfolio page. everything worked fine for a long time till today, when I started getting the same qouta and cors errors. I don't understand what was mentioned previously in this thread about purchasing more qouta....what exactly do I need to do to get this module up and running again? I've n

[2020-04-05 04:29] Funkh0user commented on #54
I'm having the qouta problems described in this thread but i'm uncertain how to implement the solutions talked about. could someone explain to me in more detail what the exact workaround for this is? When I tried use the proxy method above, It didn't solve my problems.

[2020-04-05 06:34] hayorov commented on #54
I'm also confirming that urlreq.appspot.com is under "Over Quota". https://github.com/izuzak/urlreq/issues/7

[2020-04-06 19:09] abhishekds94 opened #99 "Fetch URL issue"
Access to fetch at 'https://urlreq.appspot.com/req?method=GET&url=https://github.com/users/IonicaBizau/contributions' from origin 'https://ionicabizau.github.io' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resource with CORS disabled.

Getting

[2020-04-06 20:03] lrose07 commented on #99
I'm getting the same, and grid is no longer showing. Has been working fine; this started happening sometime in the past week.

<img width="1440" alt="Screen Shot 2020-04-06 at 15 57 56" src="https://user-images.githubusercontent.com/5395968/78599620-7629ed80-781f-11ea-896e-2c9331537965.png">

[2020-04-07 20:01] jKh98 commented on #99
Same here. It was perfectly working for a while then since last week this error started appearing. I hope you'll find a solution soon and thanks for the amazing plugin.

[2020-04-08 00:30] nikolas-ball commented on #99
Hello! Same issue here! I wonder what the fix is.

[2020-04-08 00:39] IonicaBizau commented on #99
Does anyone recommend a good proxy service that has a good reputation? We could change the default proxy.

[2020-04-08 15:14] mvpopuk commented on #99
Same problem here... I am just implementing this into my website and I just got the same error.

[2020-04-08 21:52] denmercs commented on #99
same problem here. Hopefully, this will be resolved. Thanks!

[2020-04-09 13:35] mvpopuk commented on #99
It seems like it's working now. Is it stable ? Can I use it in production ? Thanks.

[2020-04-09 16:01] justinvforvendetta commented on #99
seems to be working again! we can close this issue @Abhishekds94

[2020-04-09 18:14] justinvforvendetta commented on #99
and now its down again lol

[2020-04-09 18:18] denmercs commented on #99
Yes it's down again... 😅

[2020-04-09 18:46] guilyx opened #100 "Example not working"
Hey.

Not sure if the intended behavior of your [example](https://codepen.io/anon/pen/aZmjvZeditors=1000) was what it's actually doing ( only displaying "Loading the data just for you." and not the actual calendar.

I did manage to embed it so no big deal really, just pointing this out.

[2020-04-09 18:56] abhishekds94 commented on #99
Ah, man.

Someone suggest to him a good proxy server so that he could use it without any interruption in the service.

[2020-04-10 04:57] mvpopuk commented on #99
Any updates here ? I am supposed to launch a website in production today with this widget working. What should I do ? :)

[2020-04-10 07:34] Funkh0user commented on #54
its back up again. I'd still love a more detailed explanation on how to use a custom proxy or to acquire more qouta.

[2020-04-10 09:08] guilyx commented on #100
Fixed somehow. Closing.

[2020-04-10 09:08] #100 closed, assigned to nobody

[2020-04-10 15:52] mvpopuk commented on #99
Working again :)

[2020-04-10 16:00] IonicaBizau commented on #99
I'm on it. 🚀 Will add a `cache` option and a different proxy service, with the option to self-host it.

[2020-04-10 16:01] mvpopuk commented on #99
Sould I consider using it in production now or should I wait a bit longer ? I'd also love to contribute to this repo since I like very much. If I can help in any ways please let me know. Noroc.

[2020-04-10 16:03] IonicaBizau commented on #99
I hope I will release a new version in one hour.

Thank you, will consider that. Noroc! 😄

[2020-04-10 17:08] #99 closed, assigned to IonicaBizau

[2020-04-10 17:18] justinvforvendetta commented on #99
thanks!

[2020-04-10 17:19] IonicaBizau commented on #100
Duplicate of #79

[2020-04-10 17:21] IonicaBizau commented on #54
In the latest releases I implemented the new proxy from @Bloggify. Currently there are no max quotas, but using the default cache is recommended.

[2020-04-10 19:21] IonicaBizau commented on #74
The `new` keyword is not required. Simply calling `GitHubCalendar(...)` should work.

[2020-04-10 19:21] #74 closed, assigned to nobody

[2020-04-27 14:21] MinhPhuPham opened #105 "i want import it into my Angular 9 project, but fail. Can help me, how use it in angular."
in this example: i didn't work
![image](https://user-images.githubusercontent.com/51711158/80382692-c6e7b000-88cc-11ea-8ad1-c40307f158d2.png)
---------------------------------
in my laptop, project run at localhost: so my proxy is 127.0.0.1/{port}????
please help me, code basic how to get it in angular 9 :(

[2020-04-27 14:38] IonicaBizau commented on #105
Please ask questions on Stackoverflow.

[2020-04-27 17:02] MinhPhuPham commented on #105
Thank admin, i known my bug

[2020-04-27 17:02] #105 closed, assigned to nobody

[2020-05-05 01:53] abhishekds94 opened #106 "Wrong data"
I am getting the wrong data from the widget.
The data I see from your screenshot in the readme is being shown instead of my actual contributions.

See the screenshot.

![image](https://user-images.githubusercontent.com/13012026/81029050-391a4080-8e49-11ea-827b-9a64bff85cc3.png)

[2020-05-05 02:05] IonicaBizau commented on #106
Can you provide a source code?

[2020-05-05 04:49] abhishekds94 commented on #106
Sure. Please follow the link below,
https://github.com/Abhishekds94/My-Webpage/blob/master/index.html

[2020-05-05 05:17] IonicaBizau commented on #106
This is what I see there:

<img width="817" alt="image" src="https://user-images.githubusercontent.com/2864371/81036750-e7a19e00-8ea8-11ea-93c4-407616d71b99.png">

[2020-05-05 05:17] #106 closed, assigned to nobody

[2020-05-07 03:54] abhishekds94 commented on #106
This is weird but, thanks for the quick response, @IonicaBizau. I appreciate it.

This is mostly something to do with the cache. I will check it out!

[2020-05-07 05:14] IonicaBizau commented on #106
It’s very probable that is cached. When working locally, you can disable the cache from developer tools.

Sent from my iPhone

[2020-05-12 20:38] bachdx2812 opened #107 "how to use multiple calendar on a page"
thanks for this great library!

Im implementing this for my whole team and got trouble putting multiple calendar into 1 page. can you guide me through this ?

p/s: 1 calendar works fine.

[2020-05-14 06:01] muftisamiullah opened #108 "calender not working"
i get this error in the console for some time, i was also check the demo on codepen, [here](https://bloggify.github.io/github-calendar/example/) also same issue persists
![Screenshot from 2020-05-14 11-29-33](https://user-images.githubusercontent.com/19238647/81898402-38667480-95d6-11ea-8211-020917ce008d.png)

GET https://api.bloggify.net/gh-calendar/?username=muftisamiullah net::ERR_CONNECTION_RE

[2020-05-19 06:35] #108 closed, assigned to nobody

[2020-05-26 18:44] RathiRohit commented on #55
Hi @IonicaBizau If this is still open for contribution, I can submit a PR for this.

[2020-05-26 18:47] IonicaBizau commented on #55
Sure, that would be amazing! ✨

Sent from my iPhone

[2020-06-02 07:28] #107 closed, assigned to nobody

[2020-06-26 08:04] birkhofflee commented on #98
@IonicaBizau It's completely broken on mobile devices on my end :(

[2020-07-06 19:55] pktiuk commented on #6
@anibal-aguila
I think you should watch this issue: https://gitlab.com/gitlab-org/gitlab/-/issues/29733

[2020-07-08 06:18] IonicaBizau commented on #6
I am not very familiar with GitLab... Does the API provide a similar stats functionality?

You can always override the `getCalendar` method and return the body you want to set in the HTML.

[2020-07-08 15:05] karloluis commented on #85
@lopezdp @maifeeulasad Care to share your findings?

[2020-07-08 15:09] maifeeulasad commented on #85
@karloluis it will take some time to find out the final react.js solution.

But here is the life saver code :   https://github.com/maifeeulasad/maifeeulasad.github.io/blob/74ef95b73d9c117bb0d14d134aa967eae853d7fd/showcase/index.html#L43

And here is what it looks like : https://maifeeulasad.github.io/showcase/

[2020-07-08 17:00] karloluis commented on #48
This solution seems a bit crude.

[2020-07-13 15:20] lopezdp commented on #85
I created an export in a js file I called `githubEventList.js` that looks like this:

[code]

Then in my implementation file I imported it as such:

`import { eventList } from "../libs/githubEventList";`

and implemented it as such:

[code]

then in my render function I implemented the component as such:

[code]

[2020-07-24 21:46] onkar-shaligram opened #112 "Typo in README.md"
Syntax error for proxy method.

A Curly Bracket is missing on lin no. 60.

[2020-08-10 04:24] #112 closed, assigned to nobody

[2020-08-13 15:25] saadmk11 opened #116 "Getting Failed to load resource: net::ERR_NAME_NOT_RESOLVED"
Getting ``Failed to load resource: net::ERR_NAME_NOT_RESOLVED`` error on Bloggify's API  ``https://api.bloggify.net/gh-calendar/``

[2020-08-13 17:13] sarthakgoenka commented on #116
I've got the same error.

[2020-08-13 18:13] IonicaBizau commented on #116
Thanks for this. I connected `bloggify.net` to Cloudflare and I'm struggling to setup the `api` subdomain again.

Any advice is appreciated.

[2020-08-13 18:23] IonicaBizau commented on #116
I think it should be proxied now.

I added an `A` record in the Cloudflare settings, pointing to our server.

[2020-08-13 18:25] saadmk11 commented on #116
Yes its working thanks for the quick fix. :)

[2020-08-13 18:25] #116 closed, assigned to IonicaBizau

[2020-08-13 18:26] IonicaBizau commented on #116
Glad to hear. It should load faster as it is proxied by Cloudflare now and some caching may be there too.

[2020-08-16 23:50] SuperSonicHub1 opened #117 "Want to update the CSS of the calendar."
I want to add CSS that better mimics GitHub's, specifically pertaining to the day squares of the calendar. I think it makes them pop a lot more, especially the empty ones.
![Display of new changes](https://user-images.githubusercontent.com/25624882/90346743-a5384300-dff9-11ea-9bb4-0c9571308c7f.png)

[code]

[2020-08-28 19:00] #117 closed, assigned to nobody

[2020-09-09 15:05] 1990eam opened #118 "Tooltips not working?"
I got the calendar working and am passing the following arguments:

[code]
The calendar is responsive but the tooltips don't work.

Any suggestions? There are no errors in the console.

[2020-09-10 09:04] IonicaBizau commented on #118
Can you link a live demo?

[2020-09-10 14:11] 1990eam commented on #118
Hello. Yes of course, [here](https://1990eam.github.io/profile/) .

Thanks.

[2020-09-10 14:26] IonicaBizau commented on #118
I think you simply use an old version of the library. Do not use `cdn.rawgit.com` anymore because it is deprecated.

Use this url instead: `https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js`.

[2020-09-10 16:05] 1990eam commented on #118
Thanks, that worked.

[2020-09-11 15:59] #118 closed, assigned to nobody

[2020-10-07 20:28] NightScript370 opened #119 "The ability to specify the months"
![image](https://user-images.githubusercontent.com/18664762/95383937-c18d8900-08a0-11eb-8cec-e567954c8fc6.png)
Notice how small the calendar is. That's because it's including the past 12 months.
What if we were able to make it just 6 months, or 3 months? It would be much more helpful

[2020-10-29 09:15] Ariel-MN opened #120 "Github calendar not working"
Github calendar has unexpectedly stopped working since yesterday, look at [montesariel.com](https://montesariel.com). How much to fix it? Can you add the option to download it as a plugin? I've been using the URLs provided in your readme file and they still active.

[2020-10-29 09:30] Ariel-MN opened #121 "URL Down"
Both urls are down in your your pencode example:
https://cdn.rawgit.com/IonicaBizau/github-calendar/master/dist/github-calendar.min.js
https://cdn.rawgit.com/IonicaBizau/github-calendar/master/dist/github-calendar.css

[2020-10-29 12:54] IonicaBizau commented on #121
https://cdnjs.com/libraries/github-calendar

We will have to use the cdnjs urls instead...

[2020-10-29 12:56] IonicaBizau commented on #120
I think GitHub changed the way they render the colors:

<img width="335" alt="image" src="https://user-images.githubusercontent.com/2864371/97576454-dcae6d00-19f6-11eb-834f-c41dce5a6737.png">

I don't have time to work on this right now, but contributions are more than welcome! ❇️

[2020-10-29 14:25] Ariel-MN commented on #120
Not only that, number of contributions and streaks doesn't show either, I believe the hole think is broken.

[2020-10-30 03:00] arjunskumar commented on #120
any solutions?

[2020-10-30 14:29] perpetualCreations commented on #120
Weird, the API returns the total number of contributions, however nothing on streaks.
Did it always work like that?
Also, how did colors get parsed previously?

Full disclosure, I have no qualifications in JS.

[2020-10-31 11:47] Doohwancho commented on #120
maybe it has something to do with halloween updates. github used other module to change color from green to pumkin for halloween day.
if my guess is correct, they would return it to original state when halloween is over.

[2020-10-31 16:47] Ariel-MN commented on #120
@Doohwancho if it's that, it would be nice to implement a solution for prevent this scenario each year, it's ugly to have things broken on your website and I like this tool. It's a shame that I don't have the time for this right now.
I would expect the GitHub team to be more consistent with their code to avoid these kinds of issues.

[2020-11-01 00:21] imSrbh commented on #120
weird..Yeah It's just because of Halloween update

[2020-11-01 01:02] perpetualCreations commented on #120
Glad to see it isn't anything serious though.
Best of luck to any JS dev willing to implement a fix to prevent this from happening next year.

[2020-11-01 13:11] vgvassilev opened #122 "The example shows only black boxes"
I have the same issue that can be seen in the example: https://bloggify.github.io/github-calendar/example

How we can fix this?

[2020-11-01 13:33] shijiezhou1 commented on #122
I think this repo is no longer maintains by this guy. We need to find something else.

[2020-11-01 14:10] moselhy commented on #122
#120

[2020-11-01 17:01] IonicaBizau commented on #122
Duplicate of #120. Contributions are welcome to fix this.

[2020-11-01 17:01] #122 closed, assigned to nobody

[2020-11-01 17:04] IonicaBizau commented on #120
Just a quick update: there are two things we have to fix here:

 - the parser: https://github.com/IonicaBizau/github-calendar-parser
 - the CSS to show the right colors

[2020-11-01 18:02] Cipher-Coder commented on #120
Adding the CSS Vars to the stylesheet will get the days to render. Something like:

[code]
However I am still looking at the streak and total counts.

[2020-11-02 15:27] IonicaBizau commented on #120
I fixed the parser in https://github.com/IonicaBizau/github-calendar-parser/pull/17.

I am working on this.

[2020-11-02 15:43] #120 closed, assigned to IonicaBizau

[2020-11-02 15:47] #121 closed, assigned to nobody

[2020-11-03 03:31] flawnson opened #126 "Uncaught DOMException: Failed to read the 'localStorage' property from 'Window': Access is denied for this document."
Persisting on both CDN and when locally stored. Solutions indicate that switching on cookies fixes the problem but obviously I don't want visitors to my site to have to do it manually. Any robust solutions?

[2020-11-03 03:49] #126 closed, assigned to nobody

[2020-11-04 18:41] lopezdp commented on #120
@IonicaBizau thank you!

[2020-11-17 13:56] tobyink opened #127 "Tooltips displayed in the wrong place"
See:
https://toby.ink/open-source/

The tooltips appear down and to the right of where they'd be expected.

[2020-11-26 21:37] Cipher-Coder opened #129 "Streak & Contributions not working again"
Just wanted to let you know that the GitHub Streaks and Contributions are not working again. I rolled my version back to 2.1.1 because that is just what version I had on this computer since I am not at work, and it works. Im sure a more recent version may work too. To be honest I never really looked into what happened just a few weeks ago, and I am not sure if this is going to keep happening?

[2020-11-28 11:41] NoahPeeters commented on #129
I have the same issue. I rolled back to version `2.2.3`. When I try to use version `2.2.4`, streak and contributions just display 0.

[2020-12-01 18:57] Cipher-Coder commented on #129
You can probably close this now. It started working again. Any idea what keeps happening? Or if it is going to continue to keep happening?

[2020-12-02 22:08] NoahPeeters commented on #129
For me, it's working again as well. If the error should appear again (and I notice it), I will try to investigate the issue.

[2021-01-17 19:54] IonicaBizau commented on #129
It should be because of the changes in the GitHub markup. It seems to work now. :sparkle:

[2021-01-17 19:54] #129 closed, assigned to nobody

[2021-01-17 19:55] IonicaBizau commented on #127
Try to set the container to be `position: relative`. I suggest asking these questions on Stackoverflow and leave a link here.

[2021-01-17 19:55] #127 closed, assigned to nobody

[2021-01-19 09:04] tobyink commented on #127
That doesn't solve it.

[2021-01-19 09:06] tobyink commented on #127
In fact, that makes the tooltips appear even lower.

[2021-01-19 10:48] tobyink commented on #127
Okay, figured it out. The issue is that the script calculates the tooltip position like this:

[code]

So they are calculated relative to the window. They're assuming the calendar (and thus the tooltip) is *not* positioned inside a container with `position:relative`. So they'll only display in the right position if the calendar and all its ancestor elements have `position:static`.

I think the fix

[2021-01-20 17:51] 1990eam opened #131 "Calendar heatmap now working?"
Hello. I had the calendar working as expected but a couple of weeks ago I noticed it stopped showing different colors based on each day's contribution count.

The calendar tooltips are working and it is retrieving the data just fine. It's just not displaying any colors.

Here is a [ live demo.](https://1990eam.github.io/profile/)

Any advice on what could be wrong?

[2021-01-20 18:06] #131 closed, assigned to nobody

[2021-01-28 18:54] BugKiller-tech opened #132 "How to display graph for specific year ?"
Is it possible to display for specific year ?

![image](https://user-images.githubusercontent.com/25556402/107010008-a5b0cb80-674a-11eb-84eb-b191df0a8d97.png)

I want to display calendar for specific year like this image.

[2021-02-04 10:48] itsdanielfelix opened #133 "Calendar not working - TypeError: Cannot set property 'innerHTML' of null"
Hi,

I created my personal site ( https://danielfelix.in/ ) a few weeks back and used [Bloggify/github-calendar ](https://github.com/Bloggify/github-calendar) to display my GitHub Contributions on it.

It was working fine as of last week.

And when I checked today it didn't display anything, so I checked the console and found the following error.

`TypeError: Cannot set property 'innerHTML' of nul

[2021-02-04 15:49] kristofgilicze commented on #133
Seems to me that Github changed the HTML markup slightly, making this DOM query fail:
[code]

[2021-02-04 23:20] vladrunk commented on #133
If add a comma in this part of the code `e.querySelector(".float-left.text-gray").innerHTML`  between classes `.float-left` и `.text-gray`  => `e.querySelector(".float-left,.text-gray").innerHTML` a 'skeleton' appears, but no account information.

[2021-02-05 01:33] Cipher-Coder commented on #133
There are actually a few things going on here... GitHub has once again, changed the way that their commit graph SVG renders. That has thrown off the [github-parser](https://github.com/IonicaBizau/github-calendar-parser) library that that this repo is relying on to actually parse the SVG.
I have forked all the repos and am working on it. So far, I've got the graph to render again. I was able to the

[2021-02-05 03:34] Cipher-Coder commented on #133
In all the SVG's that GitHub has used to show the contributions graph, there has always been a 'fill' attribute. The current SVG that GitHub is using does not contain one and the [github-parser](https://github.com/IonicaBizau/github-calendar-parser) library depends on that attribute:
[code]
Without it, as you can see, it is doing what it was told. Returning nothing. I did get mine up and running a

[2021-02-07 10:35] jerrychong25 opened #134 "GitHub Calendar Demo No Longer Working"
Hi all,

I would like to use GitHub Calendar plugin, as per sample demo in https://bloggify.github.io/github-calendar/example/.

However, I noticed the demo is no longer working as of today (7th February 2021), as per screenshot below:
<img width="1085" alt="Screenshot 2021-02-07 at 6 33 19 PM" src="https://user-images.githubusercontent.com/15714095/107144007-2a7e2e00-6973-11eb-82f7-56a8bb47fef0.p

[2021-02-08 05:44] jihoonkimtech commented on #134
Looks like everyone's been unable to use the calendar because of this error.

It's a problem caused by this error -> **TypeError: Cannot set property 'innerHTML'**
This error was mentioned in the previous issue #133.
You can get more detailed information from the issue above, so it would be good to refer to it!

[2021-02-09 14:58] #133 closed, assigned to nobody

[2021-02-09 14:58] #134 closed, assigned to nobody

[2021-02-09 15:32] Ariel-MN commented on #133
Thank you so much @IonicaBizau, you are the best.

[2021-02-10 03:37] jerrychong25 commented on #134
Thank you @jihoonkimtech and @IonicaBizau !

[2021-05-25 14:12] jxmot opened #136 "Tooltips are not working (2.2.7)"
Hello,

I'm trying to get tooltips to work. I've looked through the PRs and issues and there appears to have been a "fix" made but that was in 2020.

I've examined the live demo code, and it is enabling tooltips but they do not work. I have also downloaded the latest (2.2.7) from the repo and it isn't working either.

To see this error, just go to the project demo page. So far it has not worked on

[2021-08-28 00:03] chinmayprele opened #137 "Integration Issues"
The code example shown in the [README](https://github.com/Bloggify/github-calendar#installation) is different to the one shown in the [example](https://bloggify.github.io/github-calendar/example/).

Which one is correct to use?

I tried to use the one in the example, and the example itself worked, but when I attempted to use `drosophominin` (me) instead of `your-username`, it fails to work.

I am

[2021-10-01 01:52] secondl1ght commented on #136
I have the same issue, I have enabled tooltips but nothing appears on mouse hover.

[2021-10-01 01:54] secondl1ght commented on #137
Can you link to the repo with your code in it? I might be able to help.

[2021-10-01 01:58] secondl1ght opened #138 "Current streak seems to be 1 day behind"
The current streak when ```global_stats``` is enabled seems to be 1 day behind. For example, it will show your last contribution as the day before the current day, even if you made a contribution on the current day.

[2021-10-04 11:00] IonicaBizau commented on #136
Hmm, they seem broken on the demo page too... Contributions are welcome!

[2021-11-18 22:21] franznkemaka opened #139 "🐛 Current streak and longest streak stuck at 369 days"
Hi Bloggify,

thanks for the awesome lib. I've been using it for almost a year. Unfortunately, the current streak and longest streak is stuck at **369 days**.

**Cause:**
`github-calendar` uses `github-calender-parser` and it scrapes GiHub's graph and parses its content to extract the commit dates in order to create a streak count. Yet the graph can't display more days than that.

**Potential solu

[2021-11-23 03:09] pengfeiw commented on #136
I create a pull request to fix this bug.

[2021-11-23 04:50] #136 closed, assigned to nobody

[2021-11-23 05:17] secondl1ght commented on #136
Still not working for me, will it take a little bit of time to start working?

[2021-11-23 05:22] pengfeiw commented on #136
Do you set the `tooltips: true` ? @secondl1ght

[2021-11-23 05:23] secondl1ght commented on #136
Yes I had that enabled the whole time, I just left it like that even though they were not working. I refreshed my page, do I need to do anything else?

[2021-11-23 05:27] pengfeiw commented on #136
The [example](https://bloggify.github.io/github-calendar/example/) has tooltips now, check you has updated the github-calendar package in your project. @secondl1ght

[2021-11-23 05:34] secondl1ght commented on #136
Is it possible to have tooltips with just vanilla JS? I added the ```script``` tags but did not install anything with yarn or npm.

[2021-11-23 05:42] pengfeiw commented on #136
The content of [script](https://unpkg.com/github-calendar@2.2.8/dist/github-calendar.min.js) is not the newest.

[2021-11-23 05:44] secondl1ght commented on #136
So we need to update that or I can just paste the whole script in my code and make the change you just PR'ed?

[2021-11-23 05:50] secondl1ght commented on #136
Update: Yep that worked, I just put the script right in my project and then updated it with the fix you just made in your PR. Thanks!

[2021-11-23 06:05] secondl1ght commented on #136
One more thing if you are interested in doing more, when you hover of the 'Less More' boxes a tooltip appears with ```null``` but it should probably just not appear at all for those boxes. @pengfeiw

[2021-11-23 07:45] pengfeiw commented on #136
Thanks for point that out. I'll fix it later.

[2021-11-23 07:51] pengfeiw opened #142 "When mouse hover on 'Less More' boxes a tooltip appears with `null`."

[2021-11-23 08:02] pengfeiw commented on #136
I have make a new pr to fix it. @secondl1ght

[2021-11-26 03:33] #142 closed, assigned to nobody

[2021-12-12 10:09] IonicaBizau commented on #139
It is interesting topic... We are limited to the data we get from GitHub. We could implement a handler to be able to set it in a custom way (such the one you mentioned).

[2021-12-12 10:10] IonicaBizau commented on #138
We would have to fix that in the library that computes the streaks...

[2021-12-12 10:11] IonicaBizau commented on #137
How does it fail more exactly...? Please post the console output.

[2021-12-12 10:13] IonicaBizau commented on #132
Interesting, I haven't investigated this, but it should be possible I guess.

[2021-12-12 10:15] IonicaBizau commented on #119
It is rather complex to remove part of the graph. This should be part of the custom code on your site.
You can have a handler to listen on the loaded event and then reposition all the squares and month texts.

[2021-12-13 17:39] franznkemaka commented on #139
Great @IonicaBizau,

I will create an API that fetches the data from GitHub and support a PR with implementations

[2022-02-18 14:59] justoverclockl opened #146 "Not responsive"
At smaller resolution is not responsive
![Immagine 2022-02-18 155805](https://user-images.githubusercontent.com/79002016/154707105-db7842ee-65ec-4c85-9fa4-4c8d039bd7c2.png)

[2022-07-23 17:19] hughesjs opened #147 "Shows Link to 3D Visualiser"
I'm assuming nobody wants this...

<img width="719" alt="image" src="https://user-images.githubusercontent.com/4203766/180615869-cb06a4f5-f029-40f5-8ae2-099fff14784f.png">

[2022-07-25 10:01] #147 closed, assigned to nobody

[2022-08-09 18:21] adim-att opened #151 "Integrating the months & days colors with the site's default + Bold Text"
The text of the days and months is a crucial element, we had to change ourselves, any contributing organization, specially those that start new would need people to realize their progress quickly, they won't appreciate the timeline dimmed in grey like that.

This JavaScript can change the color to the site's default scheme, although I am not sure which element would that be in general..

Here it i

[2022-08-16 16:22] arpanaditya opened #152 "How to use this library for React Js project?"

[2022-10-01 15:45] darshikaguptaa commented on #146
Can you please assign this issue to me?

[2022-10-03 10:18] IonicaBizau commented on #146
This would be amazing. Just simply open a PR to fix this. Thanks!

[2022-11-10 15:30] muhidabid commented on #152
Hi, @arpanaditya. Try this repo, it has used this library to make a react wrapper component for React:

https://github.com/axetroy/react-github-calendar

[2022-11-10 15:38] muhidabid opened #155 "Using library in a project"
Hi, @IonicaBizau I used this library in my project [angular-github-calendar](https://github.com/muhidabid/angular-github-calendar). I'd like to add it to the README.md

[README.md](https://github.com/Bloggify/github-calendar/files/9982378/README.md)

[2022-11-17 09:28] askprateek commented on #126
How to fix this?

[2022-11-26 19:41] dooli1971039 opened #156 "Can't I see a graph that reflects the change immediately?"
![image](https://user-images.githubusercontent.com/70802352/204106287-69497ec3-351e-4eb9-8359-7c96f73ccc1b.png)
How can I get not UTC time data?
in https://github.com/users/dooli1971039/contributions, it shows me the latest data. ( not UTC time)
![image](https://user-images.githubusercontent.com/70802352/204106348-43f097da-78f4-40b8-97bc-8f27ef74b3a4.png)
I want to eliminate the nine-hour differen

[2022-11-27 16:15] dooli1971039 commented on #156
ㅇㅎㄹㅇㄹㅇ